<p>
	<a asp-controller="Home" asp-action="Index">Home</a> |
	<a asp-controller="Movies" asp-action="Index">Movies</a> |
	<a href="#">Series</a> |
	<a asp-controller="Rating" asp-action="Index">Rating movies</a> |
	<a asp-controller="Contact" asp-action="Index">Contacts</a>
</p>
<p>parvinaliyevv 2022</p>