<div class="sidebar">
	<h2>Search</h2>
	<form method="post" action="#" id="search_form">
		<input type="search" required="required" name="search_field" placeholder="search" />
		<input type="submit" class="btn" value="find" />
	</form>
</div>
