@{
	ViewData["Title"] = "Contacts";
}

@section MenuBar {
	<div class="menubar">

		<ul class="menu">
			<li><a asp-controller="Home" asp-action="Index">Home</a></li>
			<li><a asp-controller="Movies" asp-action="Index">Movies</a></li>
			<li><a href="#">Series</a></li>
			<li><a asp-controller="Rating" asp-action="Index">Rating movies</a></li>
			<li class="selected"><a asp-action="Index">Contacts</a></li>
		</ul>

	</div>
}

<div class="content">

	<h1>Contacts</h1>
	<p>Send your feedback about the KinoMonster portal</p>

	<div class="send send_contact">
		<form method="post" action="#" id="contact">
			<input type="text" required="required" name="review_name" placeholder="Your name">
			<input type="text" required="required" name="review_email" placeholder="Your email">
			<textarea name="review_text" required="required"></textarea>
			<input class="btn" type="submit" value="send feedback">
		</form>
	</div>

</div>